<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Emotion Classification</title>
    <link href="{{ url_for('static', filename='styles.css') }}" rel="stylesheet" type="text/css">
</head>

<body>
    <div class="container">
        <h1>Emotion Classification</h1>

        <form id="emotion-form" action="{{ url_for('predict') }}" method="post">
            <input type="text" id="expression" name="expression" placeholder="Please Enter more than 5 words" required="required" minlength="6" /><br><br>
            <!-- <span id="validation-message"></span> -->
            <button type="submit">Predict</button>
        </form>

        {% if label %}
        <div class="overlay">
            <div id="label-card">
                <p id="label">{{ label }}</p>
                <div id="button-card">
                    <button id="close-button" onclick="redirectToRoot()">Close</button>
                </div>
            </div>
        </div>
        {% endif %}

        <div id="background-shapes">
            <div id="shape-1"></div>
            <div id="shape-2"></div>
            <div id="shape-3"></div>
        </div>

        <div id="footer">
            <p>Check out the code on:</p>
            <a href="https://github.com/ShubhamMisar-12/EmotionClassification" target="_blank">GitHub</a>
            <span>|</span>
            <a href="https://www.kaggle.com/code/shubhammisar/emotion-classification-word2vec-svm" target="_blank">Kaggle</a>
            <p>Connect with me:</p>
            <a href="https://www.linkedin.com/in/shubham-sanjay-misar/" target="_blank">LinkedIn</a>
            <span>|</span>
            <a href="https://twitter.com/ShubhamMisar12" target="_blank">Twitter</a>
        </div>
    </div>

    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>
